{% extends 'customer/base.html' %}

{% block content %}
<div class="container mb-5">
    <div class="row justify-content-center mt-5">
        <div class="col-md-8 col-sm-12 offset-md-1 p-4 text-center">
            <h2>About Us</h2>
        </div>
    </div>
    <div class="row justify-content-center mt-1">
        <div class="card col-md-5 col-sm-12 offset-md-1 p-4 text-center">
            <p>hdbhbv wihriehdjend ioerik,nadscd iiiefief nkancklshdhfrg hfhf dfhdkhfdhf ndhjaf ieukajskcj nncksjciof</p>
            <p>dfkjd kdsi dj dhhs sdh sd hsdhihif sj hfdhf df hdfhlj ieiei shsjdl ss shiwbvjkh clislh</p>
            <p>hdbv dhhsdlih dioifjl jlajoaioy wejiefn jsh sksj shshi kjsljfijfiue efiojvsj dvlsfjvlj vijv sdlijvoio </p>
        </div>
    </div>
</div>
{% endblock content %}